:root {
    --main-color-1: ;
    --main-color-2: rgb(89, 208, 248);
    --sec-color-1: rgb(0, 191, 255);

    --font-size-title: ;
    --font-size-text: ;
    --font-size-text-2: ;

    --shadow-1: ;
    --shadow-2: ;

}

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: "Audiowide", sans-serif;
}


/*pkedex style general*/
.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.pokedex-top-part, .pokedex-bottom-part {
    height : 22vh;
    width: 500px;
    background-color: darkred;
    z-index: 2;
}
.pokedex-top-part{
    border-radius: 25px  25px 5px 5px;
    border: 4px solid black;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pokedex-bottom-part{
    border-radius: 5px 5px 25px  25px;
    border: 4px solid black;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.top-circle{
    width: 200px;
    height: 100px;
    background-color: black;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.small-top-circle {
    width: 120px;
    height: 60px;
    box-shadow: 0 0 0 4px var(--main-color-2);
    background-color: var(--main-color-2);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;    
}

.bottom-circle{
    width: 200px;
    height: 100px;
    background-color: black;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.small-bottom-circle{
    width: 120px;
    height: 60px;
    box-shadow: 0 0 0 4px var(--main-color-2);
    background-color: var(--main-color-2);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px; 
    display: flex;

}

.pokedex-center-part{
    height: 56vh;
    width: 475px;
    background-color:var(--main-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}


/*pokedex container */
#pokedex-container{
    height: 330px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*poke-description*/
.poke-description {
    height: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 2px solid royalblue;
    background-color: var(--sec-color-1);
    border-radius: 15px;

}

.poke-description h1 {
    text-align: center;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}
.p-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.p-container p {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;

}

/*pok-imgs*/
.img-sprites {
    height: 150px;
    width: 240px ;
    object-fit: contain;
    margin: 5px;
    border-radius: 50%;

}

/*poke-types*/
.poke-types{
    height: auto;
    min-width: 200px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px;
    border: 2px solid pink;
    background-color: var(--sec-color-1);
    border-radius: 10px;
    font-size: 0.9rem;
}

.category-img-container {
    display: flex;
    flex-direction: row;
}

.poke-types img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

/*pke-talents et stats */
.talents-stats-container {
    height: 65px;
    width: 400px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid green;
    border-radius: 20px;
    background-color: var(--sec-color-1);
    padding-left: 10px;
    padding-right: 20px;

}

/*poke talents */
.poke-talents {
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;

}
.poke-talents p {
line-height: 0.1;
font-size: 0.6rem;
}

/*poke-stats*/
.poke-stats {
    height: 50px;
    width: 200px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.7rem;
}

.poke-stats ul{
    display: grid;

    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 20px;
    

}

.poke-stats ul li {
    font-size: 0.5rem;
    max-width: 80px;
    max-height: 20px;
    list-style: none;

}


/* btn */
.btn-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.right-btn, .left-btn {
    height: 50px;
    width: 170px;
    margin: 10px;
    background-color: rgb(51, 204, 255);
    border-radius: 10px;
    margin-bottom: 10px;
}





